<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diary">
            <h2>{{diary.title}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{diary.type}}</span>
                </dd>
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{diary.year}}</span>
                </dd>
                <dt><span>Genre</span></dt>
                <dd>
                    <span>{{diary.genre}}</span>
                </dd>
                <dt><span>Writer</span></dt>
                <dd>
                    <span>{{diary.writer}}</span>
                </dd>
                <dt><span>Actors</span></dt>
                <dd>
                    <span>{{diary.actors}}</span>
                </dd>
                <dt><span>Plot</span></dt>
                <dd>
                    <span>{{diary.plot}}</span>
                </dd>
                <dt><span>Imdbrating</span></dt>
                <dd>
                    <span>{{diary.imdbrating}}</span>
                </dd>
                <dt><span>Impression</span></dt>
                <dd>
                    <span>{{diary.impression}}</span>
                </dd>
                <dt><span>Myrating</span></dt>
                <dd>
                    <span>{{diary.myrating}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/diary', diary.id, 'edit']"
                    class="btn btn-primary" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
